build_image:
  image: docker:git
  services:
  - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN reg.devlodge.de
    - docker build -t reg.devlodge.de/mario/docker-esp32 .
    - docker push reg.devlodge.de/mario/docker-esp32
  only:
    - master
